* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist' !important;
}

h4 {
  text-align: center;
  margin-bottom: 20px;
  color: #8b19d2;
  font-weight: 900;
  font-size: larger;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: b;
  /* border-radius: 10px; */
  /* padding: 20px; */
  width: 100%;
  height: 100vh;
  background-color: #8b19d2;
}
.login-width {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

mat-form-field {
  width: 100%;
}
#button1 {
  background-color: #8b19d2;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
#button1:hover {
  background-color: #ffffff;
  color: #8b19d2;
  border: 2px solid #8b19d2;
}
